.nav-links {
  list-style: none;
  margin: 0;
  padding: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arvo", sans-serif;
}

.nav-links li {
  margin: 1rem;
}

.nav-links a {
  border: 1px solid transparent;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-links a:hover {
  border-color: #ffffff;
}

@media (min-width: 768px) {
  .nav-links {
    flex-direction: row;
  }

  .nav-links li {
    margin: 1rem 0 0 0.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
  }
}
